<section id="list-section">

    <div class="list-users">
        {{#each filteredUsers}}

        <div class="list-line">
            <a href="/users/{{this.id}}">Name : {{this.name}} Email : {{this.email}}</a>
            <span >
            <a href="/users/{{this.id}}">Edit</a>
            <a href="/users/{{this.id}}?method=delete">Delete</a>
</span>
        </div>


        {{/each}}
    </div>


</section>