<section>
     <h3>Movie</h3>
     <div class="product-list">
          {{#each products}}
          <div class="products">
               <a href="/products/{{this.id}}"><div class="movieTitle">{{this.title}}</div>
                    <img src="/img/{{this.imgPath}}" alt="pic">
               </a>
          </div>

          {{/each}}
    </div>

     <h3>TV Show</h3>
     <div class="product-list">
          {{#each tvShow}}
          <div class="products">
               <a href="/products/{{this.id}}"><div class="movieTitle">{{this.title}}</div>
                    <img src="/img/{{this.imgPath}}" alt="pic">
               </a>
          </div>

          {{/each}}
 </div>
</section>