<section>

    <div class="detail-container">
        <div class="context">
            <p> <img src="/img/{{product.imgPath}}" alt="pic">
                Title : {{product.title}}
            </p>
            <p>
                Description : {{product.description}}

            </p>
        </div>


        <button class="btn btn-primary">
            Rent $ {{product.price}}
        </button>

        <button class="btn btn-primary">
            Buy $ {{product.buy}}
        </button>
    </div>

    <div class="detail-big">
        <img src="/img/{{product.imgBig}}" class="rounded mx-auto d-block" alt="...">
    </div>


</section>