<section>
  <div class="container w3-container w3-padding-32">

    <div id="wrapper-bottom">
      <div class="container">
        <form action="/products/{{picFilter.id}}?method=put" method="post" enctype="multipart/form-data">

          <label for="name">title</label>
          <input id="name" name="name" class="form-control" type="text" placeholder="student@myseneca.ca"
            tabindex="1" value="{{picFilter.name}}"/>

          <label for="category">Password</label>
          <input id="category" name="category" class="form-control" type="text" placeholder="xxxx xxxx" tabindex="2"value="{{picFilter.category}}" />

          <label for="rating">rating</label>
          <input id="rating" name="rating" class="form-control" type="number" placeholder="123-123-1234"
            tabindex="4" value="{{picFilter.rating}}" />

            <label for="rent"> rent</label>
          <input id="rent" name="rent" class="form-control" type="number" placeholder="123-123-1234"
            tabindex="4" value="{{picFilter.rent}}"/>

             <label for="price">price</label>
          <input id="price" name="price" class="form-control" type="number" placeholder="123-123-1234"
            tabindex="4" value="{{picFilter.price}}" />

             <label for="type">type</label>
          <input id="type" name="type" class="form-control" type="text" placeholder="123-123-1234"
            tabindex="4" value="{{picFilter.type}}"/>

             <label for="sPic">Small Poster</label>
          <input id="sPic" name="sPic" class="form-control" type="file" placeholder="123-123-1234"
            tabindex="4" value="{{picFilter.sPic}}"/>

             <label for="lPic">Large Poster</label>
          <input id="lPic" name="lPic" class="form-control" type="file" placeholder="123-123-1234"
            tabindex="4" value="{{picFilter.lPic}}" />

              <label for="desc">Description</label>
          <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Tell us about your problem" value="{{picFilter.desc}}"></textarea>
          {{#each errorMassages}}
          <div class="errors">{{this}}</div>
          {{/each}}
          <div id="button">
            <input class="btn btn-primary" type="submit" value="sumbit">
          </div>
        </form>
      </div>
    </div>
  </div>


</section>